html {
  font-size: 15px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: normal;
}
*,
p {
  margin: 0;
  padding: 0;
}
/*========= Сброс стилей ==============*/
table tbody tr:nth-child(even) {
  background-color: transparent;
}
a:focus {
  outline: none;
}


.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding: 0;
}
.owl-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
}
.owl-dot.active {
  background-color: #ffffff;
}
.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}
.jq-selectbox__select:active {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.jq-selectbox__select:hover {
  background: none;
}
/*END Сброс стилей*/
/*jQuery Form Styler*/
.jq-selectbox__select {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  padding: 0 30px 0 0;
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #6a6e6e;
}
.jq-selectbox__trigger {
  border: none;
}
.jq-selectbox__select-text {
  min-width: 30px;
}
.jq-selectbox__trigger-arrow {
  border-top-color: #6a6e6e;
}
/*END jQuery Form Styler*/
.btn {
  font-size: 24px;
  font-weight: 800;
  color: #1cb4ac;
  padding: 20px 50px;
  border: 3px solid #1cb4ac;
  border-radius: 3px;
}
.btn:hover {
  background-color: #1cb4ac;
  color: #fff;
}
.round_btn {
  display: inline-block;
  padding: 13px 60px;
  border: 2px solid #ff3b30;
  border-radius: 40px;
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.round_btn:hover {
  color: #fff;
  -webkit-box-shadow: inset 0 0 25px #876e6e4a;
          box-shadow: inset 0 0 25px #876e6e4a;
}
.flags_block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
}
.flags_block div {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.flags_block div:not(:last-child) {
  margin-right: 24px;
}
.flags_block .stock {
  background-color: #fff000;
  color: #000;
}
.flags_block .auction {
  background-color: #4cd964;
  color: #fff;
}
.star_block {
  display: inline-block;
}
.star_block .star {
  display: inline-block;
  height: 19px;
  width: 19px;
}
.star_block .star.full {
  background-image: url(../img/star_full.png);
}
.star_block .star.half {
  background-image: url(../img/star_half.png);
}
.tip_block {
  position: absolute;
}
.tip_block .tip_text {
  display: none;
  position: absolute;
  bottom: 90%;
  left: -25px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 175px;
  border-radius: 5px;
}
.tip_block .tip_text p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: normal;
}
.tip {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 71px;
  height: 71px;
  background-image: url(../img/tooltip_icon.png);
  cursor: pointer;
}
.tip i {
  font-size: 28px;
  line-height: 10px;
  color: #fff;
}
.rating_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.rating_block .star_block {
  margin-right: 10px;
  line-height: 10px;
}
.rating_block .text_block {
  display: inline-block;
}
.rating_block .text_block p {
  margin-bottom: 0;
  color: #bbbbbb;
  font-size: 22px;
}
.input_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px;
}
.input_line .input_block {
  width: 100%;
}
.input_line .input_block.half {
  width: 49%;
}
.input_line .input_block input,
.input_line .input_block textarea {
  border: 2px solid #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}
.input_line .input_block input {
  height: 50px;
}
.input_line .input_block label {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}
.check_box_block {
  margin-bottom: 35px;
}
.check_box_block input[type="checkbox"] {
  display: none;
}
.check_box_block input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 34px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 0;
}
.check_box_block input[type="checkbox"] + label:before {
  content: url(../img/checkbox.png);
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
}
.explanatory_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #b8b8b8;
}
.checkbox_list {
  margin-left: 0;
}
.checkbox_list li {
  list-style-type: none;
}
.checkbox_list label {
  margin: 0;
  padding-left: 35px;
}
.checkbox_list input[type="checkbox"] + label,
.checkbox_list input[type="radio"] + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  line-height: 48px;
}
.checkbox_list input[type="checkbox"],
.checkbox_list input[type="radio"] {
  display: none;
}
.checkbox_list input[type="checkbox"] + label:before {
  content: "\f372";
  display: inline-block;
  font-family: "Ionicons";
  font-size: 28px;
  line-height: normal;
  position: absolute;
  left: 0;
  bottom: 8px;
}
.checkbox_list input[type="checkbox"]:checked + label:before {
  content: "\f373";
}
.checkbox_list.round_color input[type="checkbox"] + label:before {
  content: "";
  bottom: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.checkbox_list.round_color input[type="checkbox"] + label.red:before {
  background-color: #ff3b30;
}
.checkbox_list.round_color input[type="checkbox"] + label.blue:before {
  background-color: #007aff;
}
.checkbox_list.round_color input[type="checkbox"] + label.green:before {
  background-color: #4cd964;
}
.checkbox_list.round_color input[type="checkbox"] + label.grey:before {
  background-color: #f7f7f7;
}
.checkbox_list.round_color input[type="checkbox"] + label.black:before {
  background-color: #000;
}
.advantages {
  margin-left: 0;
}
.advantages li {
  list-style: none;
  font-size: 18px;
  line-height: 36px;
  color: #bbbbbb;
}
.how_much_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.how_much_block p {
  margin-right: 30px;
  margin-bottom: 0;
  color: #bbbbbb;
}
.how_much_block input {
  margin-bottom: 0;
  height: 46px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 22px;
  text-align: center;
}
.how_much_block input:focus {
  border: none;
}
.how_much_block .jq-number__field {
  border-radius: 0;
  border: 2px solid #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 150px;
}
.how_much_block .jq-number__spin {
  height: 25px;
  width: 50px;
  border-radius: 0;
  border: 2px solid #eeeeee;
  border-left: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}
.how_much_block .jq-number__spin.minus {
  border-top: none;
}
.how_much_block .jq-number__spin.minus:after {
  content: "\f123";
  font-family: "Ionicons";
  border: none;
  left: 16px;
  top: 3px;
  color: #3f3f3f;
}
.how_much_block .jq-number__spin.plus {
  border-bottom: none;
}
.how_much_block .jq-number__spin.plus:after {
  content: "\f126";
  font-family: "Ionicons";
  border: none;
  left: 16px;
  top: 6px;
  color: #3f3f3f;
}
.how_much_block .jq-number {
  padding-right: 50px;
}
.square_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #000;
  height: 50px;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0 35px;
}
.square_btn:hover {
  color: #000;
}

.window_search {
    border: 1px solid #eeeeee;
    padding: 15px 10px 20px 15px;
    max-height: 450px;
    overflow-y: scroll;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    width: 100%;
}
.window_search ul li {
    list-style-type: none;
}
.window_search .category {
    margin-bottom: 15px;
}
.window_search .category > a {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    text-decoration: underline;
}
.window_search .category > a:hover {
    text-decoration: none;
}
.window_search .object {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.window_search .object .img_wrapper {
    width: 50px;
    height: 50px;
    border: 1px solid #dfdfdf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
}
.window_search .object img {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    display: inline-block;
}
.window_search .object a{
    font-size: 18px;
    font-weight: 400;
    color: #737373;
}
.window_search .object > a {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
}
    


/*CUSTOMS classes*/
/*END CUSTOMS classes*/
/*Header*/
header {
  padding: 25px 0 0 0;
  margin-bottom: 40px;
}
header .flex_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .badge {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 16px;
  margin-left: -10px;
  color: #000000;
  background-color: #f5f5f5;
}
header .badge.active {
  color: #ffffff;
  background-color: #ff642d;
}
header .arrow_block i {
  font-size: 32px;
}
header .basket_block i {
  font-size: 32px;
}
header .money_block {
  font-weight: 800;
  color: #1cb4ac;
  font-size: 24px;
}
.lang_block {
  margin-bottom: 40px;
}
.login_link {
  text-transform: uppercase;
  color: #737373;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
}
.search_wrapper {
  margin-bottom: 60px;
}
.search_block {
  position: relative;
}
.search_block input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 3px solid #00cdec;
  margin-bottom: 0;
}
.search_block .search_select {
  position: absolute;
  top: 0;
  right: 0;
}
.search_block .search_select .jq-selectbox__select {
  font-weight: 400;
}
.search_block .search_select .jq-selectbox__select:hover {
  background: none;
}
.search_block .search_select .jq-selectbox__select-text {
  min-width: 50px;
}
.main_menu_item {
  text-align: center;
  margin-bottom: 12px;
  margin-right: 32px;
}
.main_menu_item > a {
  color: #5c6161;
  font-size: 18px;
  font-weight: 800;
  padding-right: 30px !important;
}
.main_menu_item > a:after {
  border: none !important;
  content: "\f3d0" !important;
  width: 19px !important;
  height: 19px !important;
  font-family: "Ionicons";
  top: auto;
  bottom: 0;
}
.main_menu_item:last-child {
  margin-right: 0;
}
.main_menu_item .submenu {
  width: 100%;
  text-align: left;
  border: none;
  -webkit-box-shadow: rgba(135, 110, 110, 0.29) 0px 0px 25px;
          box-shadow: rgba(135, 110, 110, 0.29) 0px 0px 25px;
  margin-top: 10px;
}
.main_menu_item.active > a {
  color: #1cb4ac;
  background-color: transparent;
}
.main_menu .submenu {
  z-index: 11;
  padding: 20px 15px;
  min-width: 320px;
}
.main_menu .submenu.more {
    -webkit-column-count: 2;
            column-count: 2;
    min-width: 500px;
}
/*END Header*/
/*=================main_slider========================*/
.main_slider {
  background-color: #FAFCFE;
}
.main_slider .owl-dots {
  position: absolute;
  right: 0;
  top: 50%;
}
.slide_item {
  position: relative;
}
.slide_item .text_block {
  position: absolute;
  top: 20%;
  padding: 0 0 0 50px;
}
.slide_item p {
  font-size: 42px;
  font-weight: 400;
  color: #5c6161;
}
.slide_item .title {
  font-weight: 800;
  font-size: 65px;
  color: #1cb4ac;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.slide_item .price {
  font-weight: 800;
  color: #ff642d;
  margin-bottom: 30px;
}
/*END main_slider*/
/*==================== main_banners =======================*/
.main_banners {
  margin-bottom: 65px;
}
.one_banner {
  color: #fff;
  padding: 100px 30px 0px 50px;
  min-height: 320px;
}
.one_banner .title,
.one_banner .question {
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
}
.one_banner .link {
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
}
.one_banner .link:hover {
  text-decoration: none;
}
/*END main_banners*/
/*====================== main_tabs ========================*/
.main_tabs .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 20px;
}
.main_tabs .tabs .tabs-title {
  margin-right: 60px;
}
.main_tabs .tabs .tabs-title a {
  font-size: 30px;
  font-weight: 400;
  color: #737373;
  padding: 0;
  background-color: transparent;
}
.main_tabs .tabs .tabs-title:last-child {
  margin-right: 0;
}
.main_tabs .tabs .is-active a {
  color: #00cdec;
}
.main_tabs {
  margin-bottom: 25px;
}
.main_tabs .section_title {
  position: absolute;
  font-size: 32px;
  line-height: normal;
}
.tabs-content {
  border: none;
}
.product_block {
  padding: 40px;
  border: 2px solid transparent;
}
.product_block .image_block {
  position: relative;
  text-align: center;
}
.product_block .actions_block {
  position: absolute;
  top: 0;
  font-size: 28px;
}
.product_block .actions_block i {
  border: 1px solid #eeeeee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin-bottom: 15px;
}
.product_block .actions_block a {
  color: #5c6161;
}
.product_block .flags_block {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
}
.product_block .flags_block .new {
  background-color: #00cdec;
  padding: 0 10px;
}
.product_block .flags_block .auction {
  background-color: #4cd964;
  padding: 0 10px;
}
.product_block .text_block {
  text-align: center;
}
.product_block .price {
  font-size: 22px;
  font-weight: 800;
  color: #007aff;
}
.product_block .price a {
  color: #007aff;
}
.product_block .discription {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}
.product_block:hover {
  border: 2px solid #00cdec;
  border-radius: 6px;
}
.catalog-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.catalog-medium .product_block {
  width: 50%;
}
.catalog-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.catalog-big .product_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 55px;
}
.catalog-big .image_block img {
  display: inline-block;
  width: auto;
}
.main_catalog_slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}
.main_catalog_slider .owl-dot {
  border: 2px solid #007aff;
  margin-right: 10px;
}
.main_catalog_slider .owl-dot.active {
  background-color: #007aff;
}
/*END main_tabs*/
/*main_product_slider*/
.main_product_slider {
  margin-bottom: 45px;
}
.main_product_slider .section_title {
  font-size: 32px;
  line-height: normal;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.main_product_small_slider .slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_product_small_slider .slider_item img {
  max-width: 195px;
}
.main_product_small_slider p {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}
.main_product_small_slider .title {
  font-size: 24px;
  font-weight: 800;
  color: #007aff;
}
.main_product_small_slider .owl-item.active + .owl-item.active {
  border-left: 1px solid #ebebeb;
}
.main_product_small_slider .owl-nav {
  position: absolute;
  top: -85px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_product_small_slider .owl-nav .owl-prev {
  margin-right: 30px;
  font-size: 40px;
  color: #aeaeae;
}
.main_product_small_slider .owl-nav .owl-next {
  font-size: 40px;
  color: #aeaeae;
}
/*END main_product_slider*/
/*main_stock*/
.main_stock {
  padding: 25px 0 0 0;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.main_stock .row > .column:last-child .one_stock {
  border: none;
}
.one_stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #cccccc;
}
.one_stock .img_block {
  margin-right: 25px;
}
.one_stock p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.one_stock .title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
/*END main_stockr*/
/*footer*/
footer {
  background-color: #f5f5f5;
  padding: 45px 0 0px;
}
footer .logo_text {
  font-size: 24px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 20px;
}
footer .phone {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 15px;
}
footer .address {
  font-size: 16px;
  font-weight: 400;
  color: #d0d0d0;
  margin-bottom: 35px;
}
footer .soc_block a {
  font-size: 28px;
  color: #d0d0d0;
  margin-right: 20px;
}
footer .title {
  font-size: 22px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
footer ul {
  margin-left: 0;
}
footer ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  color: #737373;
  line-height: 36px;
}
footer ul li a {
  color: #737373;
}
.footer_line {
  background-color: #eeeeee;
  padding: 35px 0 20px 0;
}
.footer_line .copyright {
  font-size: 18px;
  font-weight: 400;
  color: #d0d0d0;
}
.footer_line .mail_button {
  position: relative;
  color: #d0d0d0;
  background-color: #fff;
  padding: 12px 150px 12px 12px;
}
.footer_line .mail_button::after {
  content: "";
  position: absolute;
  right: 20px;
  width: 23px;
  height: 23px;
  display: inline-block;
  background-image: url(../img/mail_icon.png);
}
/*END footer*/
/*=============  breadcrumbs_section  ==============*/
.breadcrumbs_section {
  background-color: #f3f3f3;
  padding: 19px 0;
}
.breadcrumbs_section .button_block a {
  display: inline-block;
  width: 42px;
  height: 42px;
  text-align: center;
  border: 1px solid #eeeeee;
  background-color: #fff;
  color: #000;
  font-size: 24px;
}
.breadcrumbs_section .button_block a i {
  vertical-align: middle;
}
.breadcrumbs_section .button_block .center_button {
  margin: 0 6px;
}
.breadcrumbs li:not(:last-child)::after {
  content: "\f3d1";
  font-family: "Ionicons";
}
.breadcrumbs {
  margin-bottom: 0;
}
.breadcrumbs li {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
}
.breadcrumbs li a {
  color: #9b9b9b;
}
.breadcrumbs_with_img {
  padding: 160px 0;
  margin-bottom: 60px;
  background-size: cover;
}
.breadcrumbs_title {
  font-size: 42px;
  font-weight: 400;
}
/*END breadcrumbs_section*/
/*=============== card_product_section =================*/
.card_product_section {
  padding: 50px 0 60px;
}
.card_slider_block .slider-nav .slide_item {
  margin-bottom: 10px;
  cursor: pointer;
}
.card_slider_block .slider-nav .slide_item img {
  margin: auto;
}
.card_slider_block .slider-nav .slide_item.slick-current {
  width: 100% !important;
  border: 1px solid #5ac8fa;
}
.card_slider_block .slider-for .slide_item {
  text-align: center;
  cursor: pointer;
}
.card_slider_block .slider-for .slide_item img {
  display: inline-block;
  margin-bottom: 125px;
}
.card_slider_block .slider-for .slide_item p {
  font-size: 18px;
  font-weight: 400;
  color: #737373;
}
.card_slider_block .slider-for .slide_item:focus {
  outline: none;
}
.card_discription_block {
  position: relative;
}
.card_discription_block p {
  margin-bottom: 10px;
}
.card_discription_block .category {
  font-weight: bold;
  font-size: 16px;
  color: #5ac8fa;
  text-transform: uppercase;
}
.card_discription_block .title {
  font-weight: 800;
  font-size: 32px;
  color: #000000;
  margin-bottom: 30px;
}
.card_discription_block .price {
  font-size: 28px;
}
.card_discription_block .price .new_price {
  font-weight: 800;
  color: #007aff;
  margin-right: 40px;
}
.card_discription_block .price .old_price {
  color: #bbbbbb;
  text-decoration: line-through;
}
.card_discription_block .discription {
  font-size: 20px;
  color: #000;
  line-height: 30px;
}
.card_discription_block .sku {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 35px;
}
.card_discription_block .sku span {
  color: #bbbbbb;
}
.card_discription_block .btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card_discription_block .btn_block .add_tobasket {
  background-color: #ff642d;
  margin-right: 35px;
}
.card_discription_block .btn_block .compare_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card_discription_block .btn_block .compare_block span {
  font-size: 20px;
}
.card_discription_block .btn_block .compare_block .badge {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  width: 55px;
  height: 55px;
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
}
.card_discription_block .btn_block .compare_block .badge i {
  font-size: 28px;
  color: #000;
}
.card_discription_block .availabile_block {
  position: absolute;
  right: 0;
  top: 125px;
}
.card_discription_block .availabile_block p {
  font-size: 20px;
  color: #bbbbbb;
}
.card_discription_block .availabile_block p span {
  color: #4cd964;
}
/*END card_product_section*/
/*============= card_product_tabs ===================*/
.card_product_tabs {
  margin-bottom: 80px;
}
.card_product_tabs .tab_title {
  position: absolute;
  top: -50px;
  left: 0;
  font-weight: 400;
  font-size: 32px;
}
.card_product_tabs .tabs-content {
  position: relative;
}
.card_product_tabs .tabs-content .tabs-panel {
  padding: 0;
}
.card_product_tabs .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 20px;
}
.card_product_tabs .tabs .tabs-title {
  margin-right: 60px;
}
.card_product_tabs .tabs .tabs-title a {
  font-size: 30px;
  font-weight: 400;
  color: #737373;
  padding: 0;
  background-color: transparent;
}
.card_product_tabs .tabs .tabs-title:last-child {
  margin-right: 0;
}
.card_product_tabs .tabs .is-active a {
  color: #00cdec;
}
.card_product_tabs .tabs-content {
  background-color: #f5f5f5;
}
.card_product_tabs .service_line {
  margin-bottom: 30px;
  color: #ff3b30;
  margin-top: 90px;
}
.card_product_tabs .service_line span {
  font-size: 18px;
  font-weight: 400;
}
.card_product_tabs .service_line .icon {
  margin-right: 5px;
}
.card_product_tabs .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}
.card_product_tabs .title + p {
  margin-bottom: 40px;
}
.card_product_tabs p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.card_product_tabs .icons_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card_product_tabs .icons_block {
  padding-right: 12%;
}
.card_product_tabs .icons_block a {
  text-decoration: underline;
}
.card_product_tabs .icons_block p {
  color: #626262;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}
.card_product_tabs .icons_block .bold {
  font-weight: bold;
  font-size: 18px;
  color: #1b1b1b;
  margin-bottom: 10px;
}
.card_product_tabs .icons_block .list {
  display: inline-block;
  width: 51px;
  height: 54px;
  background-image: url(../img/products/list.png);
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.card_product_tabs .icons_block .medal_icon {
  display: inline-block;
  width: 51px;
  height: 54px;
  background-image: url(../img/products/medal_icon.png);
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.card_product_tabs .image_block {
  position: relative;
}
.card_product_tabs .black_block_wrapper {
  background-color: #f5f5f5;
  padding-bottom: 195px;
}
.card_product_tabs .black_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #252525;
  padding: 60px 120px 20px 0;
}
.card_product_tabs .black_block .black_img_block {
  position: relative;
  width: 50%;
  text-align: center;
}
.card_product_tabs .black_block .black_img_block img {
  position: absolute;
  bottom: -160px;
  left: 40px;
}
.card_product_tabs .black_block .discription {
  width: 50%;
}
.card_product_tabs .black_block .discription .under_title {
  font-size: 20px;
  font-weight: 400;
  color: #898989;
  margin-bottom: 50px;
}
.card_product_tabs .black_block .discription .title {
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  color: #ffffff;
  margin-bottom: 15px;
}
.card_product_tabs .black_block .with_icon_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding-right: 100px;
}
.card_product_tabs .black_block .with_icon_block .icon_block {
  margin-right: 50px;
  min-width: 48px;
}
.card_product_tabs .black_block .with_icon_block .icon_block i {
  font-size: 60px;
  color: #ff3b30;
  vertical-align: top;
}
.card_product_tabs .black_block .with_icon_block p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #9b9b9b;
}
.card_product_tabs .black_block .with_icon_block p:first-child {
  text-transform: uppercase;
  font-weight: bold;
  line-height: normal;
  color: #fff;
  margin-bottom: 10px;
}
.card_product_tabs .black_block .rating_block {
  margin-bottom: 22px;
}
/*END card_product_tabs*/
/*============ card_product_slider ================*/
.card_product_slider .section_title {
  font-size: 32px;
  line-height: normal;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.card_product_small_slider .owl-nav {
  position: absolute;
  top: -85px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card_product_small_slider .owl-nav .owl-prev {
  margin-right: 30px;
  font-size: 40px;
  color: #aeaeae;
}
.card_product_small_slider .owl-nav .owl-next {
  font-size: 40px;
  color: #aeaeae;
}
.card_product_small_slider .slider_item .name,
.card_product_small_slider .slider_item .discription {
  font-size: 20px;
  font-weight: 400;
}
/*END card_product_slider*/
/*=============== checkout_two_col ==============*/
.checkout_two_col {
  padding-bottom: 25px;
}
.checkout_two_col .left_col .question_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
  margin-bottom: 35px;
  background-color: #eef9fe;
  font-weight: 400;
  font-size: 18px;
}
.checkout_two_col .left_col .question_line .question_icon {
  color: #ced8dc;
  font-size: 30px;
  margin-right: 20px;
}
.checkout_two_col .left_col .question_line .question {
  margin-right: 50px;
  color: #6b7173;
}
.checkout_two_col .left_col .question_line .question_link {
  color: #000;
}
.checkout_two_col .left_col .title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.checkout_two_col .left_col textarea {
  margin-bottom: 50px;
}
.checkout_two_col .right_col .title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.checkout_two_col .right_col .round_btn {
  display: block;
  text-align: center;
  background-color: #ff642d;
  border: none;
}
.checkout_two_col .explanatory_text {
  max-width: 780px;
  margin-bottom: 30px;
}
.small_table_order {
  margin-bottom: 10px;
}
.small_table_order .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}
.small_table_order .tr .img_block {
  padding-top: 10px;
}
.small_table_order .tr .text_block {
  font-size: 18px;
  line-height: normal;
}
.small_table_order .tr .text_block .name {
  font-size: 18px;
  line-height: normal;
}
.small_table_order .tr .text_block .category {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 5px;
}
.small_table_order .tr .text_block .quantity {
  color: #a3a3a3;
  margin-bottom: 2px;
}
.small_table_order .tr .text_block .price {
  color: #a3a3a3;
}
.small_table_order .tr .close_block {
  position: relative;
}
.small_table_order .tr .close_block i {
  display: inline-block;
  margin-top: -7px;
  font-size: 28px;
  color: #a3a3a3;
}
.small_table_order .tr:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}
.close_block {
  position: relative;
}
.close_block i {
  display: inline-block;
  margin-top: -7px;
  font-size: 28px;
  color: #a3a3a3;
}
.small_total_tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 98px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  border: 2px solid #eeeeee;
  background-color: #f5f5f5;
  margin-bottom: 35px;
}
.small_total_tr p {
  font-size: 18px;
}
.small_total_tr .price {
  font-size: 20px;
  font-weight: 800;
  color: #007aff;
}
.types_payment_table {
  margin-bottom: 20px;
}
.types_payment_table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #eeeeee;
  padding: 0 15px;
  height: 57px;
}
.types_payment_table .tr p {
  font-size: 18px;
}
.types_payment_table .tr label {
  font-size: 18px;
}
.types_payment_table .tr:not(:last-child) {
  border-bottom: none;
}
.types_payment_table .tr input {
  margin-bottom: 0;
}
.types_payment_table .tr.with_img .img_block {
  margin-left: auto;
}
.types_payment_table .tr.grey_text {
  display: block;
  height: auto;
  padding: 20px 15px 20px;
}
.types_payment_table .tr.grey_text p {
  font-size: 16px;
  color: #b8b8b8;
  line-height: 24px;
  margin-bottom: 10px;
}
.types_payment_table .jq-radio {
  border: 2px solid #007aff;
  width: 20px;
  height: 20px;
}
.types_payment_table .jq-radio.checked .jq-radio__div {
  background-color: #007aff;
}
.types_payment_table .jq-checkbox,
.types_payment_table .jq-radio {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 10px;
}
/*END checkout_two_col*/
/*============ catalog ==============*/
.sidebar .one_block {
  margin-bottom: 30px;
}
.sidebar .one_block .title {
  font-size: 22px;
  line-height: 48px;
}
.sidebar .one_block a {
  display: block;
  font-size: 20px;
  line-height: 48px;
  color: #737373;
}
.sidebar .tags p {
  font-size: 20px;
  line-height: 48px;
}
.reset_filter_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #ff3b30;
  text-decoration: underline;
}
.reset_filter_btn i {
  font-size: 24px;
  margin-right: 15px;
}
.reset_filter_btn:hover {
  color: #ff3b30;
}
.catalog_list .info_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}
.catalog_list .info_line p {
  font-size: 18px;
  color: #737373;
}
.catalog_list .info_line .quantity {
  color: #000;
  margin: 0 30px;
}
.catalog_list .info_line .select_block {
  margin-left: auto;
}
.catalog_list .info_line .jq-selectbox__select-text {
  min-width: 190px;
  color: #000;
}
.catalog_list .info_line .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}
.catalog_list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #eeeeee;
}
.catalog_list .item .img_block {
  position: relative;
  width: 20%;
  border-right: 2px solid #eeeeee;
}
.catalog_list .item .disc_block {
  width: 60%;
  border-right: 2px solid #eeeeee;
  padding: 0 60px 0 30px;
}
.catalog_list .item .disc_block .category {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #5ac8fa;
}
.catalog_list .item .disc_block .title {
  font-size: 26px;
  font-weight: 800;
  color: #000;
}
.catalog_list .item .disc_block .discription {
  color: #737373;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}
.catalog_list .item .order_block {
  width: 20%;
  padding-left: 30px;
}
.catalog_list .item .order_block .agree {
  font-size: 20px;
  color: #4cd964;
  margin-bottom: 5px;
}
.catalog_list .item .order_block .price {
  font-size: 24px;
  font-weight: 800;
  color: #007aff;
  margin-bottom: 28px;
}
.catalog_list .item .order_block .how_much_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 33px;
}
.catalog_list .item .order_block .how_much_block .jq-number__field {
  width: 95px;
}
.catalog_list .item .order_block .add_tobasket {
  display: block;
  padding: 13px 0;
  text-align: center;
  color: #ff642d;
  font-size: 18px;
}
.catalog_list .item .order_block .add_tobasket:hover {
  background: #ff642d;
  color: #fff;
}
.catalog_list .item .comparison_badge {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #f0f0f0;
  background-color: #f6f6f6;
  border-radius: 50%;
}
.catalog_list .item .comparison_badge i {
  font-size: 28px;
}
.catalog_list .under_list_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  margin-bottom: 90px;
}
.catalog_list .under_list_line .jq-selectbox__select {
  font-size: 20px;
  font-weight: 400;
  margin-right: 50px;
}
.catalog_list .under_list_line .jq-selectbox__select-text {
  min-width: 180px;
}
.pagination {
  margin-left: auto;
  margin-bottom: 0;
}
.pagination li {
  font-size: 24px;
  color: #000;
}
.pagination li.current {
  background: none;
  color: #007aff;
}
.pagination li a:hover {
  background: none;
}
.pagination-next a::after,
.pagination-next.disabled::after {
  content: "\f3d3";
  font-family: "Ionicons";
  font-size: 42px;
  line-height: 41px;
  vertical-align: middle;
  margin-left: 20px;
}
.pagination-previous a::before,
.pagination-previous.disabled::before {
  content: "\f3d2";
  font-family: "Ionicons";
  font-size: 42px;
  line-height: 41px;
  vertical-align: middle;
  margin-right: 20px;
}
.tile {
  margin-bottom: 70px;
}
.tile p {
  font-size: 20px;
  line-height: normal;
  color: #737373;
}
.tile .title {
  font-size: 32px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 50px;
  color: #000;
}
.tile .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 30px 0;
}
.tile .product .text_block {
  border-right: 1px solid #eeeeee;
  padding-right: 90px;
}
.tile .row .column:last-child .text_block {
  border: none;
}
.tile .price {
  font-size: 24px;
  font-weight: bold;
  color: #007aff;
}
.listing_banner {
  height: 370px;
  padding-top: 100px;
  padding-left: 10%;
  margin-bottom: 100px;
}
.listing_banner p {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  width: 50%;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.listing_banner a {
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 45px;
  padding: 12px 45px;
  color: #fff;
}
/*END catalog*/
/*============ two_col_cart ===============*/
.two_col_cart {
  padding-bottom: 78px;
}
.two_col_cart .title_section {
  font-size: 28px;
  margin-bottom: 14px;
}
.cart_table {
  margin-bottom: 30px;
}
.cart_table tbody {
  border: none;
}
.cart_table tr:not(:first-child) {
  border-bottom: 1px solid #e5e5e5;
}
.cart_table th {
  background-color: #f3f3f3;
  padding: 15px 0;
  text-align: left;
  font-size: 18px;
  color: #6e6e6e;
  font-weight: 400;
}
.cart_table .product {
  text-align: left;
  padding-left: 120px;
}
.cart_table td {
  vertical-align: top;
  padding-top: 30px;
}
.cart_table td p {
  font-size: 18px;
}
.cart_table .td_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart_table .td_block .img_block {
  margin-right: 25px;
}
.cart_table .td_block .name {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}
.cart_table .td_block .stil,
.cart_table .td_block .color {
  font-size: 18px;
  color: #000;
  line-height: 27px;
  margin-bottom: 6px;
}
.cart_table .td_block .stil .value,
.cart_table .td_block .color .value {
  color: #bcbcbc;
}
.cart_table .quatity_td {
  padding-top: 20px;
    width: 46px;
}



.cart_table .quatity_td .jq-number__field {
  border-radius: 0;
  border: 2px solid #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 46px;
}
.cart_table .quatity_td .jq-number__spin {
  display: none;
}
.cart_table .quatity_td input {
  margin-bottom: 0;
  height: 46px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 22px;
  text-align: center;
  width:100%;

}
.cart_table .quatity_td input:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.cart_table tr td:last-child {
  padding-right: 0;
  text-align: right;
}
.cart_table tr td:last-child .close_block {
  margin-bottom: 25px;
}
.cart_table tr td:last-child .edit_btn {
  font-size: 24px;
  color: #a3a3a3;
}
.cart_total .title {
  font-size: 28px;
  margin-bottom: 13px;
}
.cart_total .round_btn {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  background-color: #ff642d;
  width: 100%;
  text-align: center;
}
.under_table_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}
.under_table_line a {
  font-size: 20px;
}
.under_table_line .back a {
  color: #737373;
}
.under_table_line .back i {
  margin-right: 30px;
  font-size: 24px;
}
.under_table_line .update_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 22px;
  color: #000;
  background-color: #f5f5f5;
  border: 2px solid #eeeeee;
  height: 50px;
  border-radius: 25px;
  padding: 0 40px 0 60px;
}
.under_table_line .update_btn i {
  font-size: 24px;
  margin-right: 6px;
}
.under_table_line .remove_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background-color: #f5f5f5;
  border: 2px solid #eeeeee;
  height: 50px;
  border-radius: 25px;
  padding: 0 40px 0 60px;
}
.under_table_line .remove_btn i {
  font-size: 24px;
  margin-right: 20px;
}
.cupon_block .jq-selectbox.jqselect.cart_select {
  margin-bottom: 30px;
}
.cupon_block .jq-selectbox__select-text {
  font-size: 28px;
  font-weight: 400;
  margin-right: 45px;
}
.cupon_block .jq-selectbox__trigger-arrow {
  border: none;
}
.cupon_block .jq-selectbox__trigger-arrow:after {
  content: '\f3d0';
  font-family: "Ionicons";
  position: absolute;
  top: -10px;
}
.cupon_block p {
  margin-bottom: 30px;
}
.cupon_block input {
  height: 50px;
  border: 2px solid #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 20px;
}




.techData {
    padding: 40px 30px 0 30px;
}
.techData li {
    list-style: none;
}
.techData > li {
    margin-bottom: 50px;
}
.techData .groupName {
    display: block;
    font-weight: bold;
    background-color: #d5d5d5;
    padding: 5px 0 5px 20px;
    margin-bottom: 15px;
}
.techData .props {
    margin-left: 1em;
}
.techData .props li {
    margin-bottom: 10px;
}


.searching input:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.dropdown .is-dropdown-submenu a {
    line-height: 1.3em;
}

.reveal {
    font-family: 'Open Sans', sans-serif;
}
.reveal h1 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.reveal label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 0px;
}
.reveal input {
    margin-bottom: 0;
    height: 46px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    background-color: transparent;
    text-align: left;
        border-radius: 0;
    border: 2px solid #eeeeee;
    padding: 8px 10px;
    font: 14px Arial, sans-serif;
    background-color: #fff;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff;
}
.reveal form input {
    margin-bottom: 25px;
}
.reveal form input[type="submit"] {
    background-color: #ff642d;
    padding: 5px 45px;
    border: 2px solid #ff3b30;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    height: auto;
    cursor: pointer;
}
.reveal form input[type="submit"]:hover {
    -webkit-box-shadow: inset 0 0 25px #876e6e4a;
    box-shadow: inset 0 0 25px #876e6e4a;
}
.personal_data {
        padding: 50px 0;
}
.personal_data .title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
}
.personal_data form ul {
    margin: 0;
}
.personal_data form ul li {
    list-style: none;
}
.personal_data form ul li p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0a0a0a;
}
.personal_data form ul li input {
    height: 50px;
    border: 2px solid #eeeeee;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    margin-bottom: 35px;
    
}
.personal_data .enterLK {
    display: inline-block;
    background-color: #ff642d;
    padding: 5px 45px;
    border: 2px solid #ff3b30;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    height: auto;
    cursor: pointer;   
    margin-top: 10px;
}
.personal_data .enterLK:hover {
    -webkit-box-shadow: inset 0 0 25px #876e6e4a;
    box-shadow: inset 0 0 25px #876e6e4a;   
    
}
#slider-range {
    margin-bottom: 15px;
}
#mainFilter .amount_block {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#mainFilter .amount_block input {
    width: 47%;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}
#mainFilter .amount_block  #amount1 {
    text-align: right;
}



/*============== Адаптив ==============*/
@media screen and (max-width: 768px) {
  .one_stock {
    margin-bottom: 25px;
  }
  .under_table_line {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .under_table_line .update_btn {
    margin: 10px 0 20px 0;
  }
  .mail_button {
    display: inline-block;
    margin-top: 10px;
  }
}
/*END Адаптив*/


/*============== bobrov ==============*/
.search_panel_block {
    float:left;
    width:25%;
    border: 1px solid #dfdfdf;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -khtml-border-radius: 4px;
    margin: 10px;
    padding: 6px 12px;
}

.search_panel {

    width:100%;
    margin-bottom: 28px;
}