@Catalog listing template



{%section:MIDDLE->%}





 <!--   <div class="breadcrumbs_section breadcrumbs_with_img" style="background-image: url(/project/templates/opsio.bi/_ares/img/bread_bg1.png);">
        <div class="row align-middle">
            <div class="columns small-18 large-18 text-left">
                <p class="breadcrumbs_title">Checka ut</p>
                <ul class="breadcrumbs">
                   <li><a href="#">Shop</a></li>
                   <li class="current">Checka ut</li>
                </ul>
            </div>
        </div>
    </div>-->

    {%MF:breadcrumbs%}

    {%if('{F:useOneColumn}'=='1')%}

    <div class="catalog">
        <div class="row">

          {%MF:filter%}

        

        {%endif%}

            {%MF:middle%}


   <!--     <div class="row">
            <div class="columns small-18 large-11">
                <div class="listing_banner" style="background-image: url(./img/list_banner1.png)">
                    <p class="title">Behöver du hjälp med valet av  IT-produkter?</p>
                    <a href="#" class="white_btn">Se mer</a>
                </div>
            </div>
            <div class="columns small-18 large-7">
                <div class="listing_banner" style="background-image: url(./img/list_banner2.png)">
                    <p class="title">Överväger digital transformation?</p>
                    <a href="#" class="white_btn">Se mer</a>
                </div>
            </div>
        </div>-->


    </div>

    </div>


{%endsection:MIDDLE%}

