@Стандартный шаблон категорий

{%F:@s(D:getVars())%}
{%F:#e(D:dump({"value":"{F:value}"}))%}
 
{%section:catalogCategoryList%}
      {%F:@s(D:getVars())%}
    

     
     
     {%F:@ee(D:consoleLog({"value":"{F:objects}"}))%} 
     
      
    {%if('{F:category>_main>ancestor}'=='60902')%}
    
        <p class="page_title">{%F:category>_main>Name%}</p>
    
        {%F:#b(TPA:setGlobalField({"useOneColumn":"1"}))%}
        
        {%F:#categoryMenu(module.catalog.tpl:getCategoryMenu({"id":"{F:category>_main>id}", "linkId":"8714", "separatePopular":"1"}))%}    
             
             
             
        <div class="catalog_level1">
            <ul class="top_link">
                
                {%each({F:categoryMenu>popularItems},k,val)%}
                   
                    <li><a href="{%F:val>link%}">{%F:val>Name%}</a></li>
                
                {%endeach%}
                
            </ul>
            <ul>
                
                {%each({F:categoryMenu>menuItems},k,val)%}
                   
                    <li><a href="{%F:val>link%}">{%F:k%}</a></li>
                
                {%endeach%}
                
            </ul>
        </div>
        
    {%else%}
        
        <div class="product_list col-xs-10">
        
            {%F:#b(TPA:setGlobalField({"categoryName":"{F:category>_main>Name}"}))%}
            {%F:#b(TPA:setGlobalField({"categoryAncestor":"{F:category>_main>ancestor}"}))%}
            {%F:#b(TPA:setGlobalField({"categoryId":"{F:category>_main>id}"}))%}
            
             
            
            {%F:#isDealer(E:checkAuth())%}
            
            {%if('{F:isDealer}')%}
            
                {%F:#priceProperty(E:assign({"0":"dealerPrice"}))%}            

            {%else%}
            
                {%F:#priceProperty(E:assign({"0":"regularPrice"}))%}            
            
            {%endif%} 
            
            <!--{%F:isDealer%}-->
            
            <div class="row sort">
           
                  {%F:@filt(E:callModuleAction({"module":"catalog","params":{"_cacheLevel":"dynamic","_Cache":"1","_Action":"showCurrentSelectedFilters","_Priority":"1","DestinationPage":"8714","Template":"MAIN_CUR_FILTER.showCurrentSelectedFilters.html"}}))%}
           
                
			{%F:@filt(E:callModuleAction({"module":"catalog","params":{"_cacheLevel":"dynamic","_Cache":"1","_Action":"showSearchForm","_Priority":"2","searchProperty":"category.upperfilter","DestinationPage":"8714","SearchTemplate":"upper_form_search.showSearchForm.html"}}))%}
             
            
                
                <div class="col-xs-4">
                  {%F:@filt(E:callModuleAction({"module":"catalog","params":{"_cacheLevel":"dynamic","_Cache":"1","_Action":"showSearchForm","pointNode":"61010","_Priority":"2","searchProperty":"category.leftFilter","DestinationPage":"8714","SearchTemplate":"search_form_sort.showSearchForm.html"}}))%}
                  
                  
                  
                </div>
            </div>
            
            {%if('{F:searchMode}')%}
            <div class="search_panel">
                            <p class="title_search">По вашему запросу <!--“<span class="red">Акусти</span>”--> найдено <span class="red">{%F:count%}</span> товаров.</p>
                             
                             
                            
                            {%each({F:existInCategories},k,v)%}
                            
                            
                            
                            <div class="search_panel_block after_block">
                                <a href="{%F:v>_main>searchLink%}">{%F:v>_main>Name%}</a>
                                <div class="number_position">{%F:v>count%} позиций</div>
                            </div>
                            
                            {%endeach%}
                  
                        </div>
                
            {%endif%}
            
            <div class="product_item_wrap">
                 
                {%each({F:objects},k,value)%}
                
                
                
                <div class="product_item">
                    <div class="row">
                        
                        
                        {%F:#skun(module.catalog.tpl:sortSkuByRE({"sku":"{F:value>_sku}"}))%}   
                        {%F:#skuM(module.catalog.tpl:getSkuWithMinPriceRE({"skuList":"{F:skun}"}))%}
                        
                        <div class="col-xs-3">
                            <a href="{%F:value>_main>link%}#?color={%F:skuM>params>color>_main>id%}">
                                
                                {%if({F:skuM>params>percent} && !'{F:isDealer}')%}
                                
                                    <span class="sale">-{%F:skuM>params>percent(E:round())%}<sup>%</sup></span>

                                {%endif%}
								
                                {%if({F:skuM>params>percentdealer}!='0%' && '{F:isDealer}' && {F:skuM>params>percentdealer}!='')%}
                                
                                    <span class="sale">-{%F:skuM>params>percent(E:round())%}<sup>%</sup></span>

                                {%endif%}
                                
                                
                                {%if(trim('{F:skuM>params>status}')!=='')%}
                                                   
                                    <span class="novelty">{%F:skuM>params>status%}</span>
                                
                                {%endif%}
                                
                                <img class="sku_image" src="{%F:@skuM>params>image(E:imageTransform({"r":{"w":"175","h":"175"}}))%}" alt="" />
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <p class="title"><a class="sku_name" href="{%F:value>_main>link%}#color={%F:skuM>params>color>color>code%}">
                            
                            {%F:value>tovarbase>brand>_main>Name%}
                            
                            {%F:skuM>params>Name%}
                            
                            </a></p>
                            <table>
                                <tr>
                                    <td>Производитель:</td>
                                    <td><a href="/brands/{%F:value>tovarbase>brand>_main>basic%}">{%F:value>tovarbase>brand>_main>Name%}</a></td>
                                </tr>
                                <tr>
                                    <td>Страна:</td>
                                    <td>{%F:value>tovarbase>brand>brand>brandCountry%}</td>
                                </tr>
                                <tr>
                                    <td>Серия:</td>
                                    <td>
									{%F:@ds(module.catalog.tpl:transformAnd({"value":"{F:value>tovarbase>series}"}))%}
									
                                </tr>
                                <tr>
                                    <td>Произведено: </td>
                                    <td  class="madein">{%F:skuM>params>madeIN%}
                                    </td>
                                </tr>
								<!--{%F:count%}-->
								{%F:#count(E:assign({"value":"{F:value>_sku>0>params>color}"}))%}
								{%if({F:count}!='')%}											
									<tr>
										<td>Цвет:</td>
										<td>
											<div class="color_wrap">
												<div class="flexcroll">
													<ul class="row">
								
													
														
									
														{%each({F:skun},i,val)%}
															
															
																
															<li class="color_pic listing" data-skuid="{%F:val>id%}" data-unit="{%F:skuM>params>izmer%}" 
																				data-currencysymbol="{%F:val>params>regularPrice>mainCurrency>currencySymbol%}" 
																				data-name="{%F:value>tovarbase>brand>_main>Name%} {%F:val>params>Name%}" 
																				data-status="{%F:val>params>status%}" 
																				data-discount="{%F:val>params>percent%}" 
																				data-discounted="{%F:val>params>regularPrice>discounted%}" 
																				data-availability="{%F:val>params>availability%}" 
																				data-divider="{%F:val>params>regularPrice>mainCurrency>divider%}" 
																				data-separator="{%F:val>params>regularPrice>mainCurrency>separator%}" 
																				data-link="{%F:value>_main>link%}#color={%F:val>params>color>color>code%}" 
																				data-image="{%F:@val>params>image(E:imageTransform({"r":{"w":"175","h":"175"}}))%}" 
																				data-regularprice="{%F:val>params>regularPrice>value%}" 
																				{%if({F:val>params>regularPrice>discounted})%}
																					data-oldregularprice="{%F:val>params>regularPrice>nonDiscountedValue%}" 
																				{%endif%}
																				
																				data-madein="{%F:val>params>madeIN%}"
																				data-dealerprice="{%F:val>params>dealerPrice>value%}" 
																				data-olddealerprice="{%F:val>params>dealerPrice>nonDiscountedValue%}">
																				<a href="" title="{%F:val>params>color>_main>Name%}" class="{%if('{F:val>id}'=='{F:skuM>id}')%}active{%endif%}">
																				<img src="{%F:val>params>color>color>image%}" alt="{%F:val>params>color>_main>Name%}"></a>
															</li>
														
														{%endeach%}
														
													</ul>
												</div>
											</div>
										</td>
									</tr>
								{%endif%}
                            </table>
                        </div>
                        <div class="col-xs-3">
                           
                            <p class="sku_availability">       
                            
                                {%if('{F:skuM>params>availability}'=='В наличии')%}
                                                         
                                   <span class="in_stock">В наличии</span>
                                    
                                {%else%}
                                
                                <span class="custom">Под заказ</span>
                                {%endif%}
                            
                            </p>
                           
                            <div class="user_price">
                                
								
                                {%if({F:skuM>params>regularPrice>discounted}&&{F:skuM>params>regularPrice>nonDiscountedValue}!='0')%}
									
										
									
                                    <p class="price"><span>{%F:skuM>params>regularPrice>valueFormatted%} {%F:skuM>params>regularPrice>mainCurrency>currencySymbol%}</span> / {%F:skuM>params>izmer%}</p>
                                    <p class="old_price">{%F:skuM>params>regularPrice>nonDiscountedValueFormatted%} {%F:skuM>params>regularPrice>mainCurrency>currencySymbol%}</p>
                                
                                {%else%}
                                
									
									
                                    <p class="price"><span>{%F:skuM>params>regularPrice>valueFormatted%} {%F:skuM>params>regularPrice>mainCurrency>currencySymbol%}</span> / {%F:skuM>params>izmer%}</p>
                                
                                {%endif%}
                                
                            </div>
                               
                            {%if('{F:isDealer}')%}
                                   
                                <div class="dealer_price">
                                    <p class="dilers">Дилерам:</p>
                                    
                                    {%if('{F:skuM>params>dealerPrice>discounted}')%}
                                
                                        <p class="price"><span>{%F:skuM>params>dealerPrice>valueFormatted%} {%F:skuM>params>regularPrice>mainCurrency>currencySymbol%}</span> / {%F:skuM>params>izmer%}</p>
                                        <p class="old_price">{%F:skuM>params>dealerPrice>nonDiscountedValueFormatted%} {%F:skuM>params>regularPrice>mainCurrency>currencySymbol%}</p>
                                    
                                    {%else%}
                                    
                                        <p class="price"><span>{%F:skuM>params>dealerPrice>valueFormatted%} {%F:skuM>params>regularPrice>mainCurrency>currencySymbol%}</span> / {%F:skuM>params>izmer%}</p>
                                    
                                    {%endif%}
                                </div>
                            
                            {%else%}
                      
                                {%if('{F:skuM>params>availability}'=='В наличии')%}
                                
									 <a href="#" class="red_button listing buyit" data-skuid={%F:skuM>id%}>Добавить в корзину</a>
                                
                                {%else%}
                                
                                     <a href="#ordering" class="red_button listing order" data-name="{%F:value>tovarbase>brand>_main>Name%} {%F:skuM>params>Name%}" data-oldprice="{%F:skuM>params>dealerPrice>nonDiscountedValueFormatted%}" data-price="{%F:skuM>params>regularPrice>valueFormatted%}" data-skuid={%F:skuM>id%}>Оформить заявку</a>
                            
                                {%endif%}
                                

                            {%endif%}
                            
                        </div>
                        
                        
                    </div>
                </div>
                
                {%endeach%}
         
            </div>
        
            
            {%F:@textit(plugin.catalog.seoplus.tpl:getText())%}    
          
          
             
            {%->:page_line%}
    
        </div>
    
    {%endif%}
    
   

{%endsection:catalogCategoryList%}
 
                    
                  
                    
