@show product
  
  
{%F:#e(D:dump({"value":"{F:connectedObjects}"}))%}
{%F:#e(D:dump({"value":"{F:extended}"}))%}
{%section:catalogObject%} 


{%F:#b(TPA:setGlobalField({"useOneColumn":"0"}))%}

{%F:#user(module.fusers.tpl:getUser())%}

{%F:#extended(plugin.catalog.mf.tpl:loadExtendedData({"ean":"{F:object>tovarbase>ean}"}))%}


{%F:#productGallery(plugin.catalog.mf.tpl:productGalleryFix({"productGallery":"{F:extended>ProductGallery>ProductPicture}"}))%}


{%F:#category(module.catalog.tpl:getNode({"id":"{F:object>_main>ancestor}"}))%}


<div class="card_product_section">
    <div class="row">


        <div class="column small-12 large-1">
            <div class="card_slider_block">
                <div class="slider-nav">

                    {%each({F:productGallery},k,img)%}

                    <div class="slide_item">
                        <img src="{%F:img>@attributes>ThumbPic%}" alt="">

                    </div>

                    {%endeach%}

                </div>
            </div>
        </div>

        <div class="column small-16 large-8">
            <div class="card_slider_block">
                <div class="slider-for">

                    {%each({F:productGallery},k,img)%}

                        <div class="slide_item">
                            <img src="{%F:img>@attributes>Pic500x500%}" alt="">
                            <p>Rul över bilden för att zooma in1</p>
                        </div>

                    {%endeach%}

                </div>
            </div>
        </div>

        <div class="column small-18 large-9">
            <div class="card_discription_block">

                <p class="category"><a href="{%F:category>_main>link%}">{%F:category>_main>Name%}</a></p>

                <p class="title">{%F:object>_main>Name%}</p>

                {%F:#minMax(module.catalog.tpl:getMinMaxIshopPrice({"skuList":"{F:object>_sku}","param":"price"}))%}

                {%if({F:minMax>min})%}
                <p class="price"><span class="new_price">{%F:minMax>min>valueFormatted%}

                    <span class="curency">kr </span></span>

                    <!--<span class="old_price">{%F:object>tovarbase>price>nonDiscountedValueFormatted%}

                 <span class="curency">kr</span></span>
                 -->
                 </p>
                {%endif%}


               <!-- <div class="rating_block">
                    <div class="star_block">
                        <div class="star full"></div>
                        <div class="star full"></div>
                        <div class="star full"></div>
                        <div class="star full"></div>
                        <div class="star half"></div>
                    </div>
                    <div class="text_block"><p>(Baserat på 5 recensioner)</p></div>
                </div>-->


                <p class="discription">{%F:@s(plugin.catalog.mf.tpl:ntobr({"value":"{F:extended>ProductDescription>@attributes>LongDesc}"}))%}</p>


                {%F:#cutAdvantages(plugin.catalog.mf.tpl:cutAdvantages({"advantages":"{F:object>tovarbase>advantages}"}))%}

                {%if({F:object>tovarbase>advantages})%}
                <ul class="advantages">
                    {%each({F:cutAdvantages},ka,adv)%}
                    <li>– {%F:adv>0%}</li>
                    {%endeach%}
                </ul>
                {%endif%}

                <p class="sku">sku: <span>{%F:object>tovarbase>PID%}</span></p>


                {%if({F:user>authorized})%}

                <div class="how_much_block">
                    <p>ANTAL</p>
                    <input min="1" type="number" value="1">
                </div>

                <div class="btn_block">
                    <a href="#" id="{%F:object>_sku>0>id%}" class="round_btn add_tobasket">Lägg till i kundvagn</a>
                    <div class="compare_block">
                        <span class="badge"><a href="#" data-id="{%F:object>_main>id%}" class="addToComparse">< i class="arrow_left-right_alt"></i></a></span>
                        <a href="#" data-id="{%F:object>_main>id%}" class="addToComparse">Lägg till för att jämföra</a>
                    </div>
                </div>

                {%if({F:object>tovarbase>price>discounted})%}
                
                <div class="flags_block">
                    <div class="stock">-{%F:object>tovarbase>price>discountPercent%} %</div>
                    <div class="auction">auktion</div>
                </div>
                {%endif%}

                <div class="availabile_block">
                    <p>Tillgängliga:
                        {%F:#inStock(plugin.catalog.mf.tpl:checkInStock({"skuList":"{F:object>_sku}"}))%}
                        {%if({F:inStock})%}
                             <p class="agree">I lager</p>
                        {%else%}

                    <p class="agree" style="color:red">Slut i lager</p>
                    {%endif%}
                    </p>
                </div>

                {%endif%}

            </div>
        </div>
    </div>
</div>

{%F:#techData(plugin.catalog.mf.tpl:getTechData({"product":"{F:extended}"}))%}

{%if({F:techData})%}

<div class="card_product_tabs">
    <div class="row">
        <div class="column small-18">
            <ul class="tabs" data-tabs data-match-height="true" id="product_tabs">
                <!--          <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Specifikation</a></li>
                              <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Specifikation</a></li>-->
            </ul>
            <div class="tabs-content" data-tabs-content="product_tabs">

                <div class="tabs-panel is-active" id="panel1">
                    <div class="row">
                        <div class="column small-18">
                            <p class="tab_title"><b>Specifikation</b></p>


                            <ul class="techData">
                                {%each({F:techData},k,group)%}

                                {%if({F:group>values})%}
                                <li>


                                    <span class="groupName">{%F:group>name%}</span>

                                    <ul class="props">

                                        {%each({F:group>values},k,value)%}

                                        <li>{%F:value>key%}: <strong>{%F:value>value%}</strong> </li>

                                        {%endeach%}

                                    </ul>

                                </li>
                                {%endif%}
                                {%endeach%}
                            </ul>
                        </div>
                    </div>

                </div>

            <!--    <div class="tabs-panel is-active discription_product" id="panel2">
                    <div class="row align-center">
                        <div class="column small-18 large-7">
                            <p class="tab_title"><b>Beskrivning</b> Produkt</p>
                            <div class="service_line">
                                <span class="icon"><i class="ion-social-youtube"></i></span>
                                <span>Handledning finns på Youtube</span>
                            </div>
                            <p class="title">Smarta notiser</p>

                            <p>Missa aldrig en annan viktig text, e-post eller varning bara för att din smartphone är bortgjuten någonstans i väskan. Tillvägagångssätt X40 fungerar som en trådlös tillägg av din kompatibla smarta enhet, som visar smarta meddelanden, direkt på din armband.</p>

                            <div class="icons_blocks">
                                <div class="icons_block">
                                    <div class="icon list"></div>
                                    <p class="bold">DESIGN & UTVECKLING</p>
                                    <p>Slank, lätt GPS-golfband med ElevateTM</p>
                                    <a href="#">Läs mer</a>
                                </div>
                                <div class="icons_block">
                                    <div class="icon medal_icon"></div>
                                    <p class="bold">DESIGN & UTVECKLING</p>
                                    <p>Slank, lätt GPS-golfband med ElevateTM</p>
                                    <a href="#">Läs mer</a>
                                </div>
                            </div>
                        </div>
                        <div class="column small-18 large-7">
                            <div class="image_block text-center">
                                <img src="./img/products/disc2.png" alt="">
                                <div class="tip_block" style="top: 400px; left: 125px;">
                                    <span class="tip"><i class="ion-ios-plus-empty"></i></span>
                                    <div class="tip_text text-left">
                                        <p>Högkvalitativ plast med avtagbar</p>
                                    </div>
                                </div>
                                <span data-tooltip aria-haspopup="true" class="has-tip tip" data-disable-hover="true" data-click-open="false" tabindex="1" title="Fancy word for a beetle."><i class="ion-plus-circled"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
            -->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="column small-18">

            <!--
            <div class="black_block_wrapper">
                <div class="row align-center">
                    <div class="column small-18 large-14">
                        <div class="black_block">
                            <div class="black_img_block">
                                <img src="./img/black_block_img.png" alt="">
                            </div>
                            <div class="discription">
                                <div class="rating_block">
                                    <div class="star_block">
                                        <div class="star full"></div>
                                        <div class="star full"></div>
                                        <div class="star full"></div>
                                        <div class="star full"></div>
                                        <div class="star half"></div>
                                    </div>
                                    <div class="text_block"><p>(Baserat på 5 recensioner)</p></div>
                                </div>
                                <p class="title">Golf och Fitness Tracking kommer tillsammans i 1 slank band</p>
                                <p class="under_title">Du vill skjuta bättre golf. Och du vill vidta åtgärder för att förbättra din övergripande skicklighet och välbefinnande. </p>
                                <div class="with_icon_block">
                                    <div class="icon_block"><i class="ion-fireball"></i></div>
                                    <div class="text_block">
                                        <p>HÖG KVALITET</p>
                                        <p>AutoShot-spårning mäter dina skottavstånd och auto-registrerade detekterade skott för post-round analys</p>
                                    </div>
                                </div>
                                <div class="with_icon_block">
                                    <div class="icon_block"><i class="ion-heart"></i></div>
                                    <div class="text_block">
                                        <p>AWESOME DESIGN</p>
                                        <p>AutoShot-spårning mäter dina skottavstånd och auto-registrerade detekterade skott för post-round analys</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->


        </div>
    </div>
</div>

{%endif%}


{%F:#ProductRelated(plugin.catalog.mf.tpl:findProductRelated({"ProductRelated":"{F:extended>ProductRelated}"}))%}



{%if({F:ProductRelated})%}
<section class="card_product_slider">
    <div class="row">
        <div class="column large-18 small-18">
            <p class="section_title"><b>Relaterade</b> produkter</p>
            <div class="card_product_small_slider owl-carousel">



                {%each({F:ProductRelated},k,obj)%}
                <div class="slider_item product_block">
                    <div class="img_block">
                        <a href="{%F:obj>_main>link%}"><img height="120" src="{%F:obj>tovarbase>image%}" alt=""></a>
                    </div>
                    <div class="text_block">

                        {%F:#minMax(module.catalog.tpl:getMinMaxIshopPrice({"skuList":"{F:obj>_sku}","param":"price"}))%}


                        {%if({F:minMax>min})%}
                        <p class="price">{%F:minMax>min>valueFormatted%} <span class="curency">kr</span></p>
                        {%endif%}


                        <p class="name"><a href="{%F:obj>_main>link%}">{%F:obj>_main>Name%}</a></p>
                        <p class="discription">{%F:obj>tovarbase>brand%}</p>
                    </div>
                </div>
                {%endeach%}

            </div>
        </div>
    </div>
</section>
{%endif%}


<!--
                {%F:#comments(module.comments.tpl:showComments({"route":"catalog","Template":"comments_catalog.html","marker":"{F:object>_main>Name}","tread":"test","cobjectId":"{F:object>_main>id}"}))%}   
               
                  <div class="content product">
                    {%F:comments>comments%}
                  
                    {%F:comments>commentsForm%}  
                  
                    </div>
                    -->

                          
{%endsection:catalogObject%}



                      


