//  out: ../css/style.css
@grey: #737373;
@blue: #00cdec;
@orange: #ff642d;
@green: #1cb4ac;
@black: #5c6161;
html{
    font-size: 15px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: normal;
}
*, p{
    margin: 0;
    padding: 0;
}

/*========= Сброс стилей ==============*/
table tbody tr:nth-child(even) {
    background-color: transparent;
}
a:focus {
    outline: none;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding: 0;
}

.owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
}
.owl-dot.active {
    background-color: #ffffff;
}
.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}
.jq-selectbox__select:active {
    background: none;
    box-shadow: none;
}
.jq-selectbox__select:hover {
    background: none;
}
/*END Сброс стилей*/


/*jQuery Form Styler*/
.jq-selectbox__select {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0 30px 0 0;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #6a6e6e;
}
.jq-selectbox__trigger {
    border: none;
}
.jq-selectbox__select-text {
    min-width: 30px;
}
.jq-selectbox__trigger-arrow {
    border-top-color: #6a6e6e;
}
/*END jQuery Form Styler*/


.btn {
    font-size: 24px;
    font-weight: 800;
    color: @green;
    padding: 20px 50px;
    border: 3px solid @green;
    border-radius: 3px;
}
.btn:hover {
    background-color: @green;
    color: #fff;
}
.round_btn {
    display: inline-block;
    padding: 13px 60px;
    border: 2px solid #ff3b30;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    &:hover {
        color: #fff;
        box-shadow: inset 0 0 25px #876e6e4a;
    }
}
.flags_block {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    div {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    div:not(:last-child) {
        margin-right: 24px;
    }
    .stock {
        background-color: #fff000;
        color: #000;
    }
    .auction {
        background-color: #4cd964;
        color: #fff;
    }
}
.star_block {
    display: inline-block;
    .star {
        display: inline-block;
        height: 19px;
        width: 19px;
    }
    .star.full {
        background-image: url(../img/star_full.png);
    }
    .star.half {
        background-image: url(../img/star_half.png);
    }
}
.tip_block {
    position: absolute;
    .tip_text {
        display: none;
        position: absolute;
        bottom: 90%;
        left: -25px;
        padding: 20px 20px 20px 20px;
        background-color: rgba(0, 0, 0, 0.6);
        min-width: 175px;
        border-radius: 5px;
        p {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            line-height: normal;
        }
}

}
.tip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 71px;
    background-image: url(../img/tooltip_icon.png);
    cursor: pointer;
    i {
        font-size: 28px;
        line-height: 10px;
        color: #fff;
    }
}
.rating_block {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .star_block {
        margin-right: 10px;
        line-height: 10px;
    }
    .text_block {
        display: inline-block;
        p {
            margin-bottom: 0;
            color: #bbbbbb;
            font-size: 22px;
        }
    }
}

.input_line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    .input_block {
        width: 100%;
        &.half {
            width: 49%;
        }
        input, textarea {
            border: 2px solid #eeeeee;
            box-shadow: none;
            border-radius: 0;
        }
        input {
            height: 50px;
        }
        label {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}
.check_box_block {
    margin-bottom: 35px;
    input[type="checkbox"] {
        display: none;
        &+label {
            display: block;
            position: relative;
            padding-left: 34px;
            font-weight: 400;
            font-size: 18px;
            margin-left: 0;
            &:before {
                content: url(../img/checkbox.png);
                display: block;
                position: absolute;
                left: 0;
                top: 4px;
            }
        }
    }
    
}
.explanatory_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #b8b8b8;
}
.checkbox_list {
    margin-left: 0;
    li {
        list-style-type: none;
    }
    label {
        margin: 0;
        padding-left: 35px;
    }
    input[type="checkbox"] + label, input[type="radio"] + label {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-size: 20px;
        line-height: 48px;
    }
    input[type="checkbox"], input[type="radio"] {
        display: none;
    }
    input[type="checkbox"] + label:before {
        content: "\f372";
        display: inline-block;
        font-family: "Ionicons";
        font-size: 28px;
        line-height: normal;
        position: absolute;
        left: 0;
        bottom: 8px;
    }
    input[type="checkbox"]:checked + label:before {
        content:"\f373";
    }
    &.round_color {
        input[type="checkbox"] + label:before {
            content:"";
            bottom: auto;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
        input[type="checkbox"] + label.red:before {
            background-color: #ff3b30;
        }
        input[type="checkbox"] + label.blue:before {
            background-color: #007aff;
        }
        input[type="checkbox"] + label.green:before {
            background-color: #4cd964;
        }
        input[type="checkbox"] + label.grey:before {
            background-color: #f7f7f7;
        }
        input[type="checkbox"] + label.black:before {
            background-color: #000;
        }
        
    }
}
.advantages {
    margin-left: 0;
    li {
        list-style: none;
        font-size: 18px;
        line-height: 36px;
        color: #bbbbbb;
    }
}
.how_much_block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    p {
        margin-right: 30px;
        margin-bottom: 0;
        color: #bbbbbb;
    }
    input {
        margin-bottom: 0;
        height: 46px;
        box-shadow: none;
        font-size: 22px;
        text-align: center;
        &:focus {
            border: none;
        }
    }
    .jq-number__field {
        border-radius: 0;
        border: 2px solid #eeeeee;
        box-shadow: none;
        width: 150px;
    }
    .jq-number__spin {
        height: 25px;
        width: 50px;
        border-radius: 0;
        border: 2px solid #eeeeee;
        border-left: none;
        box-shadow: none;
        background: none;
    }
    .jq-number__spin.minus {
        border-top: none;
        &:after {
            content: "\f123";
            font-family: "Ionicons";
            border: none;
            left: 16px;
            top: 3px;
            color: #3f3f3f;
        }
    }
    .jq-number__spin.plus {
        border-bottom: none;
        &:after {
            content: "\f126";
            font-family: "Ionicons";
            border: none;
            left: 16px;
            top:6px;
            color: #3f3f3f;
        }
    }
    .jq-number {
        padding-right: 50px;
    }
}
.square_btn {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: #000;
    height: 50px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 35px;
    &:hover {
        color: #000;
    }
}
.table_wrap_scroll {
    overflow-x: scroll;
}


/*CUSTOMS classes*/
/*END CUSTOMS classes*/


/*Header*/
header {
    padding: 25px 0 0 0;
    margin-bottom: 40px;
    .flex_block {
        display: -webkit-box;display: -ms-flexbox;display: flex;
        -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
        align-items: center;
    }
    .badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        font-size: 16px;
        margin-left: -10px;
        color: #000000;
        background-color: #f5f5f5;
    }
    .badge.active {
        color: #ffffff;
        background-color: @orange;
    }
    .arrow_block {
        i {
            font-size: 32px;
        
        }
    }
    .basket_block {
        i {
            font-size: 32px;
            
        }
    }
    .money_block {
        font-weight: 800;
        color: @green;
        font-size: 24px;
    }
}
.lang_block {
    margin-bottom: 40px;
}
.login_link {
    text-transform: uppercase;
    color: @grey;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
}
.search_wrapper {
    margin-bottom: 60px;
}
.search_block {
    position: relative;
    input {
        border: none;
        box-shadow: none;
        border-bottom: 3px solid @blue;
        margin-bottom: 0;
    }
    .search_select {
        position: absolute;
        top: 0;
        right: 0;
        .jq-selectbox__select {
            font-weight: 400;
            &:hover {
                background: none;
            }
        }
        .jq-selectbox__select-text {
            min-width: 50px;
        }
    }
}
.main_menu {
    &_item {
        text-align: center;
        margin-right: 40px;
        >a {
            color: @black;
            font-size: 22px;
            font-weight: 800;
            padding-right: 30px !important;
            &:after {
                border: none !important;
                content: "\f3d0" !important;
                width: 19px !important;
                height: 19px !important;
                font-family: "Ionicons";
                top: auto;
                bottom: 0;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        .submenu  {
            width: 100%;
            text-align: left;
            border: none;
            box-shadow: rgba(135, 110, 110, 0.29) 0px 0px 25px;
            margin-top: 10px;
        }
    }
    &_item.active {
        >a {
            color: @green;
            background-color: transparent;
        }
    }
    .submenu {
        z-index: 2;
    }
}
/*END Header*/


/*=================main_slider========================*/
.main_slider {
    background-color: #FAFCFE;
    .owl-dots {
        position: absolute;
        right: 0;
        top: 50%;
        
    }
}
.slide_item {
    position: relative;
    .text_block {
        position: absolute;
        top: 20%;
        padding: 0 0 0 50px;
    }
    p {
        font-size: 42px;
        font-weight: 400;
        color: @black;
    }
    .title {
        font-weight: 800;
        font-size: 65px;
        color: @green;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .price {
        font-weight: 800;
        color: @orange;
        margin-bottom: 30px;
    }
}
/*END main_slider*/


/*==================== main_banners =======================*/
.main_banners {
    margin-bottom: 65px;
}
.one_banner {
    color: #fff;
    padding: 100px 30px 0px 50px;
    min-height: 320px;
    .title, .question{
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
    }
    .link {
        color: #fff;
        text-decoration: underline;
        font-weight: 400;
        font-size: 18px;
        &:hover {
            text-decoration: none;
        }
    }
}
/*END main_banners*/


/*====================== main_tabs ========================*/
.main_tabs .tabs {
    display: flex;
    justify-content: flex-end;
    border: none;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 20px;
    .tabs-title {
        margin-right: 60px;
        a {
            font-size: 30px;
            font-weight: 400;
            color: @grey;
            padding: 0;
            background-color: transparent;
        }
    }
    .tabs-title:last-child {
        margin-right: 0;
    }
    .is-active {
        a {
            color: @blue;
        }
    }
}
.main_tabs {
    margin-bottom: 25px;
    .section_title {
        position: absolute;
        font-size: 32px;
        line-height: normal;
    }
}
.tabs-content {
    border: none;
}
.product_block {
    padding: 40px;
    border: 2px solid transparent;
    .image_block {
        position: relative;
        text-align: center;
    }
    .actions_block {
        position: absolute;
        top: 0;
        font-size: 28px;
        i {
            border: 1px solid #eeeeee;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            margin-bottom: 15px;
        }
        a {
            color: @black;
        }
    }
    .flags_block {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        line-height: 27px;
        text-transform: uppercase;
        .new {
            background-color: @blue;
            padding: 0 10px;
        }
        .auction {
            background-color: #4cd964;
            padding: 0 10px;
        }
    }
    .text_block {
        text-align: center;
    }
    .price {
        font-size: 22px;
        font-weight: 800;
        color: #007aff;
        a {
            color: #007aff;  
        }
    }
    .discription {
        font-size: 22px;
        font-weight: 400;
        line-height: normal;
    }
    &:hover {
        border: 2px solid @blue;
        border-radius: 6px;
    }
}
.catalog {
    &-small {
        display: flex;
        flex-wrap: wrap;
    }
    &-medium {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .product_block {
            width: 50%;
        }
    }
    &-big {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        .product_block {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 55px;
        }
        .image_block {
            img {
                display: inline-block;
                width: auto;
            }
        }
    }
}
.main_catalog_slider .owl-dots {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.main_catalog_slider .owl-dot {
    border: 2px solid #007aff;
    margin-right: 10px;
}
.main_catalog_slider .owl-dot.active {
    background-color: #007aff;
}
/*END main_tabs*/


/*main_product_slider*/
.main_product_slider {
    margin-bottom: 45px;
    .section_title {
        font-size: 32px;
        line-height: normal;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
.main_product_small_slider {
    .slider_item {
        display: flex;
        img {
            max-width: 195px;
        }
    }
    p {
        font-size: 24px;
        font-weight: 400;
        color: #000000;
    }
    .title {
        font-size: 24px;
        font-weight: 800;
        color: #007aff;
    }
    .owl-item.active + .owl-item.active{
        border-left: 1px solid #ebebeb;
    }
    .owl-nav {
        position: absolute;
        top: -85px;
        right: 0;
        display: flex;
        .owl-prev {
            margin-right: 30px;
            font-size: 40px;
            color: #aeaeae;
        }
        .owl-next {
            font-size: 40px;
            color: #aeaeae;
        }
    }
}

/*END main_product_slider*/



/*main_stock*/
.main_stock {
    padding: 25px 0 0 0;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 30px;
    .row {
        >.column:last-child {
            .one_stock {
                border: none;
            }
        }
    }
}
.one_stock {
    display: flex;
    border-right: 1px solid #cccccc;
    .img_block {
        margin-right: 25px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
    .title {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
    }
}
/*END main_stockr*/


/*footer*/
footer {
    background-color: #f5f5f5;
    padding: 45px 0 0px;
    .logo_text {
        font-size: 24px;
        font-weight: 800;
        color: #000000;
        margin-bottom: 20px;
    }
    .phone {
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 15px;
    }
    .address {
        font-size: 16px;
        font-weight: 400;
        color: #d0d0d0;
        margin-bottom: 35px;
    }
    .soc_block {
        a {
            font-size: 28px;
            color: #d0d0d0;
            margin-right: 20px;
        }
    }
    .title {
        font-size: 22px;
        font-weight: 400;
        color: #000;
        margin-bottom: 15px;
    }
    ul {
        margin-left: 0;
        li {
            list-style: none;
            font-size: 18px;
            font-weight: 400;
            color: @grey;
            line-height: 36px;
            a {
                color: @grey; 
            }
        }
    }
}
.footer_line {
    background-color: #eeeeee;
    padding: 35px 0 20px 0;
    .copyright {
        font-size: 18px;
        font-weight: 400;
        color: #d0d0d0;
    }
    .mail_button {
        position: relative;
        color: #d0d0d0;
        background-color: #fff;
        padding: 12px 150px 12px 12px;
        &::after {
            content:"";
            position: absolute;
            right: 20px;
            width: 23px;
            height: 23px;
            display: inline-block;
            background-image: url(../img/mail_icon.png);
        }
    }
}
/*END footer*/


/*=============  breadcrumbs_section  ==============*/
.breadcrumbs_section {
    background-color: #f3f3f3;
    padding: 19px 0;
    .button_block {
        a {
            display: inline-block;
            width: 42px;
            height: 42px;
            text-align: center;
            border: 1px solid #eeeeee;
            background-color: #fff;
            color: #000;
            font-size: 24px;
            i {
                vertical-align: middle;
            }
        }
        .center_button {
            margin: 0 6px;
        }
    }
}
.breadcrumbs li:not(:last-child)::after {
    content: "\f3d1";
    font-family: "Ionicons";
}
.breadcrumbs {
    margin-bottom: 0;
    li {
        font-size: 18px;
        font-weight: 400;
        text-transform: none;
        a {
            color: #9b9b9b;
        }
    }
}
.breadcrumbs_with_img {
    padding: 160px 0;
    margin-bottom: 60px;
    background-size: cover;
}
.breadcrumbs_title {
    font-size: 42px;
    font-weight: 400;
}
/*END breadcrumbs_section*/


/*=============== card_product_section =================*/
.card_product_section {
    padding: 50px 0 60px;
}
.card_slider_block {
    .slider-nav {
        .slide_item {
            margin-bottom: 10px;
            cursor: pointer;
            img {
                margin: auto;
            }
        }
        .slide_item.slick-current {
            width: 100% !important;
            border: 1px solid #5ac8fa;
        }
    }
    .slider-for {
        .slide_item {
            text-align: center;
            cursor: pointer;
            img {
              display: inline-block;
              margin-bottom: 125px;  
            }
            p {
                font-size: 18px;
                font-weight: 400;
                color: @grey;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.card_discription_block {
    position: relative;
    p {
        margin-bottom: 10px;
    }
    .category {
        font-weight: bold;
        font-size: 16px;
        color: #5ac8fa;
        text-transform: uppercase;
    }
    .title {
        font-weight: 800;
        font-size: 32px;
        color: #000000;
        margin-bottom: 30px;
    }
    .price {
        font-size: 28px;
        .new_price {
            font-weight: 800;
            color: #007aff;
            margin-right: 40px;
        }
        .old_price {
            color: #bbbbbb;
            text-decoration: line-through;
        }
    }
    .discription {
        font-size: 20px;
        color: #000;
        line-height: 30px;
    }
    .sku {
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 35px;
        span {
            color: #bbbbbb;
        }
    }
    .btn_block {
        display: flex;
        .add_tobasket {
            background-color: #ff642d;
            margin-right: 35px;
        }
        .compare_block {
            display: flex;
            align-items: center;
            span {
                font-size: 20px;
            }
            .badge {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                width: 55px;
                height: 55px;
                border: 1px solid #eeeeee;
                background-color: #f5f5f5;
                i {
                    font-size: 28px;
                    color: #000;
                }
            }
        }
    }
    .availabile_block {
        position: absolute;
        right: 0;
        top: 125px;
        p {
            font-size: 20px;
            color: #bbbbbb;
            span {
                color: #4cd964;
            }
        }
    }
}

/*END card_product_section*/


/*============= card_product_tabs ===================*/
.card_product_tabs {
    margin-bottom: 80px;
    .tab_title {
        position: absolute;
        top: -50px;
        left: 0;
        font-weight: 400;
        font-size: 32px;
    }
    .tabs-content {
        position: relative;
        .tabs-panel {
            padding: 0;
        }
    }
    .tabs {
        display: flex;
        justify-content: flex-end;
        border: none;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 20px;
        .tabs-title {
            margin-right: 60px;
            a {
                font-size: 30px;
                font-weight: 400;
                color: @grey;
                padding: 0;
                background-color: transparent;
            }
        }
        .tabs-title:last-child {
            margin-right: 0;
        }
        .is-active {
            a {
                color: @blue;
            }
        }
    }
    .tabs-content {
        background-color: #f5f5f5;
    }
    .service_line {
        margin-bottom: 30px;
        color: #ff3b30;
        margin-top: 90px;
        span {
            font-size: 18px;
            font-weight: 400;
        }
        .icon {
            margin-right: 5px;
        }
    }
    .title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 15px;
        & + p {
            margin-bottom: 40px;
        }
    }
    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
    .icons_blocks {
        display: flex;
        justify-content: space-between;
    }
    .icons_block {
        padding-right: 12%;
        a {
            text-decoration: underline;
        }
        p {
            color: #626262;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 15px;
        }
        .bold {
            font-weight: bold;
            font-size: 18px;
            color: #1b1b1b;
            margin-bottom: 10px;
        }
        .list {
            display: inline-block;
            width: 51px;
            height: 54px;
            background-image: url(../img/products/list.png);
            background-repeat: no-repeat;
            margin-bottom: 10px;
        }
        .medal_icon {
            display: inline-block;
            width: 51px;
            height: 54px;
            background-image: url(../img/products/medal_icon.png);
            background-repeat: no-repeat;
            margin-bottom: 10px;
        }
    }
    .image_block {
        position: relative;
    }
    .black_block_wrapper {
        background-color: #f5f5f5;
        padding-bottom: 195px;
    }
    .black_block {
        display: flex;
        background-color: #252525;
        padding: 60px 120px 20px 0;
        .black_img_block {
            position: relative;
            width: 50%;
            text-align: center;
            img {
                position: absolute;
                bottom: -160px;
                left: 40px;
            }
        }
        .discription {
            width: 50%;
            .under_title {
                font-size: 20px;
                font-weight: 400;
                color: #898989;
                margin-bottom: 50px;
            }
            .title {
                font-size: 36px;
                font-weight: 800;
                line-height: normal;
                color: #ffffff;
                margin-bottom: 15px;
            }
        }
        .with_icon_block {
            display: flex;
            margin-bottom: 35px;
            padding-right: 100px;
            .icon_block {
                margin-right: 50px;
                min-width: 48px;
                i {
                    font-size: 60px;
                    color: #ff3b30;
                    vertical-align: top;
                }
            }
            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
                color: #9b9b9b;
            }
            p:first-child {
                text-transform: uppercase;
                font-weight: bold;
                line-height: normal;
                color: #fff;
                margin-bottom: 10px;
            }
        }
        .rating_block {
            margin-bottom: 22px;
        }
    }
}
/*END card_product_tabs*/

/*============ card_product_slider ================*/
.card_product_slider {
    .section_title {
        font-size: 32px;
        line-height: normal;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
.card_product_small_slider {
    .owl-nav {
        position: absolute;
        top: -85px;
        right: 0;
        display: flex;
        .owl-prev {
            margin-right: 30px;
            font-size: 40px;
            color: #aeaeae;
        }
        .owl-next {
            font-size: 40px;
            color: #aeaeae;
        }
    }
    .slider_item {
        .name, .discription {
            font-size: 20px;
            font-weight: 400;
        }
    }
}
/*END card_product_slider*/


/*=============== checkout_two_col ==============*/
.checkout_two_col {
    padding-bottom: 25px;
    .left_col {
        .question_line {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 0;
            margin-bottom: 35px;
            background-color: #eef9fe;
            font-weight: 400;
            font-size: 18px;
            .question_icon {
                color: #ced8dc;
                font-size: 30px;
                margin-right: 20px;
            }
            .question {
                margin-right: 50px;
                color: #6b7173;
            }
            .question_link {
                color: #000;
            }
        }
        .title {
            font-size: 28px;
            font-weight: 800;
            margin-bottom: 30px;
        }
        textarea {
            margin-bottom: 50px;
        }
    }
    .right_col {
        .title {
            font-size: 28px;
            font-weight: 800;
            margin-bottom: 30px;
        }
        .round_btn {
            display: block;
            text-align: center;
            background-color: #ff642d;
            border: none;
        }
    }
    .explanatory_text {
        max-width: 780px;
        margin-bottom: 30px;
    }
}
.small_table_order {
    margin-bottom: 10px;
    .tr {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        .img_block {
            padding-top: 10px;
        }
        .text_block {
            font-size: 18px;
            line-height: normal;
            .name {
                font-size: 18px;
                line-height: normal;
            }
            .category {
                font-size: 18px;
                line-height: normal;
                margin-bottom: 5px;
            }
            .quantity {
                color: #a3a3a3;
                margin-bottom: 2px;
            }
            .price {
                color: #a3a3a3;

            }
        }
        .close_block {
            position: relative;
            i {
                display: inline-block;
                margin-top: -7px;
                font-size: 28px;
                color: #a3a3a3;
            }
        }
    }
    .tr:not(:last-child) {
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 20px;
    }
}
.close_block {
    position: relative;
    i {
        display: inline-block;
        margin-top: -7px;
        font-size: 28px;
        color: #a3a3a3;
    }
}
.small_total_tr {
    display: flex;
    justify-content: space-between;
    height: 98px;
    align-items: center;
    padding: 0 20px;
    border: 2px solid #eeeeee;
    background-color: #f5f5f5;
    margin-bottom: 35px;
    p {
        font-size: 18px;
    }
    .price {
        font-size: 20px;
        font-weight: 800;
        color: #007aff;
    }
}
.types_payment_table {
    margin-bottom: 20px;
    .tr {
        display: flex;
        align-items: center;
        border: 2px solid #eeeeee;
        padding: 0 15px;
        height: 57px;
        p {
            font-size: 18px;
        }
        label {
            font-size: 18px;
        }
        &:not(:last-child) {
            border-bottom: none;
        }
        input {
            margin-bottom: 0;
        }
        &.with_img {
            .img_block {
                margin-left: auto;
            }
        }
        &.grey_text {
            display: block;
            height: auto;
            padding: 20px 15px 20px;
            p {
                font-size: 16px;
                color: #b8b8b8;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }
    }
    .jq-radio {
        border: 2px solid #007aff;
        width: 20px;
        height: 20px;
    }
    .jq-radio.checked .jq-radio__div {
        background-color: #007aff;
    }
    .jq-checkbox, .jq-radio {
        background: none;
        box-shadow: none;
        margin-right: 10px;
    }
}
/*END checkout_two_col*/


/*============ catalog ==============*/
.catalog {

}
.sidebar {
    .one_block {
        margin-bottom: 30px;
        .title {
            font-size: 22px;
            line-height: 48px;
        }
        a {
            display: block;
            font-size: 20px;
            line-height: 48px;
            color: #737373;
        }
    }
    .tags {
        p {
            font-size: 20px;
            line-height: 48px;
        }
    }
}
.reset_filter_btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ff3b30;
    text-decoration: underline;
    i {
        font-size: 24px;
        margin-right: 15px;
    }
    &:hover {
        color: #ff3b30;
    }
}
.catalog_list {
    .info_line {
        display: flex;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 15px;
        p {
            font-size: 18px;
            color: #737373;
        }
        .quantity {
            color: #000;
            margin: 0 30px;
        }
        .select_block {
            margin-left: auto;
        }
        .jq-selectbox__select-text {
            min-width: 190px;
            color: #000;
        }
        .jq-selectbox:hover .jq-selectbox__trigger-arrow {
            border-top-color: #000;
        }
    }
    .item {
        display: flex;
        padding: 30px 0;
        border-bottom: 1px solid #eeeeee;
        .img_block {
            position: relative;
            width: 20%;
            border-right: 2px solid #eeeeee;
        }
        .disc_block {
            width: 60%;
            border-right: 2px solid #eeeeee;
            padding: 0 60px 0 30px;
            .category {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
                color: #5ac8fa;
            }
            .title {
                font-size: 26px;
                font-weight: 800;
                color: #000;
            }
            .discription {
                color: #737373;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 15px;
            }
        }
        .order_block {
            width: 20%;
            padding-left: 30px;
            .agree {
                font-size: 20px;
                color: #4cd964;
                margin-bottom: 5px;
            }
            .price {
                font-size: 24px;
                font-weight: 800;
                color: #007aff;
                margin-bottom: 28px;
            }
            .how_much_block {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #eeeeee;
                padding-bottom: 33px;
                .jq-number__field {
                    width: 95px;
                }
            }
            .add_tobasket {
                display: block;
                padding: 13px 0;
                text-align: center;
                color: #ff642d;
                font-size: 18px;
                &:hover {
                    background: #ff642d;
                    color: #fff;
                }
            }
        }
        .comparison_badge {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            width: 60px;
            height: 60px;
            border: 1px solid #f0f0f0;
            background-color: #f6f6f6;
            border-radius: 50%;
            i {
                font-size: 28px;
            }
        }
    }
    .under_list_line {
        display: flex;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 90px;
        .jq-selectbox__select {
            font-size: 20px;
            font-weight: 400;
            margin-right: 50px;
        }
        .jq-selectbox__select-text {
            min-width: 180px;
        }
    }
}
.pagination {
    margin-left: auto;
    margin-bottom: 0;
    li {
        font-size: 24px;
        color: #000;
        &.current {
            background: none;
            color: #007aff;
        }
        a:hover {
            background: none;
        }
    }
}
.pagination-next a::after, .pagination-next.disabled::after {
    content: "\f3d3";
    font-family: "Ionicons";
    font-size: 42px;
    line-height: 41px;
    vertical-align: middle;
    margin-left: 20px;
}
.pagination-previous a::before, .pagination-previous.disabled::before {
    content: "\f3d2";
    font-family: "Ionicons";
    font-size: 42px;
    line-height: 41px;
    vertical-align: middle;
    margin-right: 20px;
}
.tile {
    margin-bottom: 70px;
    p {
        font-size: 20px;
        line-height: normal;
        color: #737373;
    }
    .title {
        font-size: 32px;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 15px;
        margin-bottom: 50px;
        color: #000;
    }
    .product {
        display: flex;
        padding: 0 0 30px 0;
        .text_block {
            border-right: 1px solid #eeeeee;
            padding-right: 90px;
        }
    }
    .row .column:last-child .text_block {
        border: none;
    }
    .price {
        font-size: 24px;
        font-weight: bold;
        color: #007aff;
    }
}
.listing_banner {
    height: 370px;
    padding-top: 100px;
    padding-left: 10%;
    margin-bottom: 100px;
    p {
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        width: 50%;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
    a {
        font-size: 20px;
        border: 2px solid #fff;
        border-radius: 45px;
        padding: 12px 45px;
        color: #fff;
    }
}
/*END catalog*/




/*============ two_col_cart ===============*/
.two_col_cart {
    padding-bottom: 78px;
    .title_section {
        font-size: 28px;
        margin-bottom: 14px;
    }
}
.cart_table {
    margin-bottom: 30px;
    tbody {
        border: none;
    }
    tr:not(:first-child) {
        border-bottom: 1px solid #e5e5e5;
    }
    th {
        background-color: #f3f3f3;
        padding: 15px 0;
        text-align: left;
        font-size: 18px; 
        color: #6e6e6e;
        font-weight: 400;
    }
    .product {
        text-align: left;
        padding-left: 120px;
    }
    td {
        vertical-align: top;
        padding-top: 30px;
        p {
            font-size: 18px;
        }
    }
    .td_block {
        display: flex;
        align-items: center;
        .img_block {
            margin-right: 25px;
        }
        .name {
            font-size: 18px;
            color: #000;
            margin-bottom: 10px;
        }
        .stil, .color {
            font-size: 18px;
            color: #000;
            line-height: 27px;
            margin-bottom: 6px;
            .value {
                color: #bcbcbc;
            }
        }
    }
    .quatity_td {
        padding-top: 20px;
        .jq-number__field {
            border-radius: 0;
            border: 2px solid #eeeeee;
            box-shadow: none;
            width: 66px;
        }
        .jq-number__spin {
            display: none;
        }
        input {
            margin-bottom: 0;
            height: 46px;
            box-shadow: none;
            font-size: 22px;
            text-align: center;
            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }
    tr td:last-child {
        padding-right: 0;
        text-align: right;
        .close_block {
            margin-bottom: 25px;
        }
        .edit_btn {
            font-size: 24px;
            color: #a3a3a3;
        }
    }
}
.cart_total {
    .title {
        font-size: 28px;
        margin-bottom: 13px;
    }
    .round_btn {
        font-size: 16px;
        font-weight: 800;
        color: #fff;
        background-color: #ff642d;
        width: 100%;
        text-align: center;
    }
}
.under_table_line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 75px;
    a {
        font-size: 20px;
    }
    .back {
        a {
            color: #737373;
        }
        i {
            margin-right: 30px;
            font-size: 24px;
        }
    }
    .update_btn {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 22px;
        color: #000;
        background-color: #f5f5f5;
        border: 2px solid #eeeeee;
        height: 50px;
        border-radius: 25px;
        padding: 0 40px 0 60px;
        i {
            font-size: 24px;
            margin-right: 6px;
        }
    }
    .remove_btn {
        display: flex;
        align-items: center;
        color: #000;
        background-color: #f5f5f5;
        border: 2px solid #eeeeee;
        height: 50px;
        border-radius: 25px;
        padding: 0 40px 0 60px;
        i {
            font-size: 24px;
            margin-right: 20px;
        }
    }
}
.cupon_block {
    .jq-selectbox.jqselect.cart_select {
        margin-bottom: 30px;
    }
    .jq-selectbox__select-text {
        font-size: 28px;
        font-weight: 400;
        margin-right: 45px;
    }
    .jq-selectbox__trigger-arrow {
        border: none;
    }
    .jq-selectbox__trigger-arrow:after {
        content: '\f3d0';
        font-family: "Ionicons";
        position: absolute;
        top: -10px;
    }
    p {
        margin-bottom: 30px;
    }
    input {
        height: 50px;
        border: 2px solid #eeeeee;
        box-shadow: none;
        margin-bottom: 20px;
    }
}
/*two_col_cart*/





/*============== Адаптив ==============*/
@media screen and (max-width: 768px) {
    .one_stock {
        margin-bottom: 25px;
    }

    .under_table_line {
        align-items: baseline;
        .update_btn {
            margin: 10px 0 20px 0;
        }
    }

    .mail_button {
        display: inline-block;
        margin-top: 10px;
    }
}
/*END Адаптив*/